html{
    font-size: var(--html-fs);

    @include mobile{
        font-size: 0.8px;
      }
}

body{
    font-size: 16rem;
    font-family: var(--ff);
}

.container{
    max-width: calc(1170rem + 40rem);
    padding: 0 20rem;
    margin-inline: auto;
}

.section-title {
    color: var(--Paragraph);
    font: var(--Section-title);
    text-align: center;
    margin-bottom: 70rem;
  }
  
  .section-desc {
    color: var(--Paragraph);
    font: var(--Link);
    margin-bottom: 123rem;
    max-width: 837rem;
    text-align: center;
    margin-inline: auto;
  }