.doctor {
  padding-top: 111rem;
  //position: sticky;
  //top: 144rem;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 27rem;

    @include desktop-small {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    @include tablet-small {
        grid-template-columns: 1fr;
    }
  }
}

.doctor-item {
  border-radius: 20px;
  background: var(--c-terciary);
  padding: 44rem 39rem 33rem 39rem;

  &__header {
    display: flex;
    align-items: center;
    gap: 13rem;
    margin-bottom: 25rem;

  }

  &__icon {
  }

  &__img {
    width: 63px;
    height: 63px;
    flex-shrink: 0;
  }

  &__data {
  }

  &__name {
    color: var(--Paragraph);
    font: var(--Title);
    margin-bottom: 3rem;
  }

  &__role {
    color: var(--c-text);
    font: var(--Link);
  }

  &__desc {
    color: var(--c-text);
    font: var(--Link);
    margin-bottom: 28rem;
  }

  &__btn {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9F1FE;
    font: var(--Title);
    border-radius: 50px;
    background: var(--c-primary);
    height: 44px;
    flex-shrink: 0;

    &:hover{
        background: darken(#8842f0, 10%);
    }
  }
}
