.join {
  margin-top: 129rem;
  margin-bottom: 131rem;
  padding: 80rem 20rem;
  border-radius: 10rem;
  background: #1c1b1f;
  display: grid;
  gap: 47rem;

  &__title {
    color: var(--white);
    font: var(--Heading-3);
    text-align: center;
  }

  &__input {
    display: flex;
    align-items: center;
    max-width: 717rem;
    width: 100%;
    margin-inline: auto;
    border-radius: 50rem;
    background: #f9f1fe;
    padding-right: 14px;

    button {
      border-radius: 22px;
      background: var(--c-primary);
      padding: 11rem 25rem;
      color: var(--white);
      font: var(--Button);
      cursor: pointer;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      outline: 0;

      &:hover {
        background: darken(#8842f0, 10%);
      }

      .send {
        display: none;
      }

      @include mobile {
        padding: 0;
        flex-shrink: 0;
        width: 58rem;
        height: 41rem;

        .text {
          display: none;
        }
        .send {
          display: inline-block;
          text-align: center;
        }
      }
    }

    input {
      width: 100%;
      padding: 21rem 31rem;
      background: transparent;
      border: 0;
      outline: 0;
      color: var(--black);
      font: var(--Input);
      &::placeholder {
        color: #6c6c6c;
      }
    }
  }
}
