.services {
  padding-top: 111rem;

  &__list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 30rem;

    @include tablet-small {
        flex-direction: column;
    }
  }
}

.service-item {
  border-radius: 15px;
  background: var(--c-terciary);
  padding: 46rem 26rem;
  
  &:hover {
    background: var(--c-primary);

    .service-item__title {
        color: var(--white);
      }

      .service-item__desc {
        color: var(--white);
      }

      .service-item__a {
        color: var(--white);
      }

      .arrow {
        color: var(--white);
      }

  }


  &__icon {
    text-align: center;
  }

  &__img {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
  }

  &__title {
    color: var(--Paragraph);
    font: var(--Heading-4);
    text-align: center;
    margin: 27rem 0 17rem 0;
  }

  &__desc {
    color: var(--c-text);
    font: var(--Link);
    text-align: center;
    margin-bottom: 18rem;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  &__a {
    color: var(--c-primary);
    font: var(--Link-primary);
    text-decoration-line: underline;
    &:hover {
      text-decoration-line: underline;
    }
  }
}
.material-icons {
}

.arrow {
  line-height: 24rem;
  color: var(--c-primary);
}
